#trainerTable{
    width: max-content !important;
    max-width: 100% !important;
}

@media all and (max-width: 1000px) {
    .admTrainerMainCard{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media all and (max-width: 700px) {
    .searchForm{
        width: 100%;
    }

    .searchRow{
        flex-direction: column-reverse;
        align-items: flex-start !important;
    }
    #addNewAnchor{
        margin-bottom: 20px;
    }

    /*.gridContainer{*/
    /*    margin-top: 50px;*/
    /*}*/


}