*{
    font-family: 'Poppins', sans-serif;;
}

.bg-gradient-primary {
    background-color: #2d324a !important;
    background-image: none;
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    display: none;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: rgba(0,0,0,.3);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

/*trainer style*/

#trainer{
    display: none;
}

#tableRowTrainer,#tableRowMember{
    display: inline; !important;
}

#addTrainerBtn,#addMemberBTn,#addEquipment{
        background-color: #2d324a;
        width: 150px;
        height: 32px;
        font-size: 11px;

}

#addTrainerBtn:focus{
    box-shadow: none;
}


#trainerTable,#memberTable,#equipTable{
    font-size: 13px;
}

#trainerModal{
    border-radius: 30px;
}

#trainerForm>div>label{
    font-size: 13px !important;
}

#trainerForm>div>input::placeholder{
    font-size: 12px !important
}

#saveTrainer{
    background-color:#2d324a ;
    font-size: 13px;
    color: white;
}

/*member styles*/
#memberModal,#equipmentModal{
    border-radius: 30px;
}

#memberForm>div>label{
    font-size: 13px !important;
}

#memberForm>div>input::placeholder{
    font-size: 12px !important
}

#saveMemeber,#addEquip,#addProgress{
    background-color:#2d324a ;
    font-size: 13px;
    color: white;
}
#updateTrainer,#updateEquip,#updateProgress{
    background-color:#2d324a ;
    font-size: 13px;
    color: white;
}
#deleteTrainer,#deleteEquip,#deleteProgress{
    background-color:#2d324a ;
    font-size: 13px;
    color: white;
}
#updateMember{
    background-color:#2d324a ;
    font-size: 13px;
    color: white;
}
#deleteMember{
    background-color:#2d324a ;
    font-size: 13px;
    color: white;
}
