@media all and (max-width:1100px) {
    #admTrainerMainCont{
        padding: 30px;
        margin-top: 0px !important;
    }
}

@media all and (max-width:600px) {
    #admTrainerMainCont{
        padding: 10px !important;
    }

    #admTrainerMainCont .card-body{
        padding-left: 4px !important;
        padding-right: 4px !important;
        padding-top: 10px !important;
    }
}

@media (max-width: 576px){
    #trainerTable{
        width: max-content !important;
    }

    #admTrainerCrdBdy{
        display: flex;
        justify-content: center;
    }
}