
@media all and (max-width: 1200px) {
    #client{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
#printDetails{
    background-color: #2d324a;
    width: 150px !important;
    height: 32px !important;
    font-size: 11px !important;

}
