body{
    background-color: #2a2c31;
}

#firstCol{
    background-image: url(../img/register.jpg);
    background-size: cover;
    background-position: center center;
}

#secondCol{
    /*background-color: #5f82b87a;*/
    padding: 0px !important;
}

.registerTextFields{
    border-radius: 16px !important;
    padding: 0px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-top: 19px !important;
    padding-bottom: 19px !important;
}

.btnRegister{
    border-radius: 16px !important;
    max-height: 40px !important;
    padding: 0px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #0F3876;
}

#secondColDiv{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-left: 35px !important;
}

.registerAnchorTags{
    color: rgba(15, 56, 118, 0.82) !important;
}

@media all and (max-width: 632px){
    #secondColDiv{
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    #create{
        margin-bottom: 30px !important;
    }
}

@media all and (max-width: 508px){
    #secondColDiv{
        padding-top: 70px !important;
        padding-bottom: 70px !important;
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    #create{
        margin-bottom: 30px !important;
    }
}

@media all and (max-width: 462px){
    #secondColDiv{
        padding-top: 70px !important;
        padding-bottom: 70px !important;
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    #create{
        margin-bottom: 30px !important;
    }
}

@media all and (max-width: 420px){
    #secondColDiv{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    #create{
        margin-bottom: 30px !important;
        font-size: 22px !important;
    }

    .container{
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media all and (max-width: 370px){
    #create{
        font-size: 20px !important;
    }

    #secondColDiv{
        padding-top: 40px !important;
        padding-bottom: 40px !important;

    }

    .registerTextFields{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .btnRegister{
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        background-color: #0F3876;
    }
}
