#tableRowMember .card-header{
    padding: 0px;
}

#tblClient{
    width: max-content !important;
    max-width: 100% !important;
}

@media (max-width: 1100px){
    .clientMainContainer{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 576px){
    #progressModal .modal-dialog {
        max-width: 570px;
    }

    #progressModal .table {
        width: max-content;
        margin-right: auto;
        margin-left: auto;
    }
}
