#memberForm{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 0px;
}

#memberForm>div{
    padding-left: 10px;
    padding-right: 10px;
}

#tblClient{
    max-width: max-content !important;
}

@media all and (max-width: 500px){
    .progressMainContainer{
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    #memberForm{
        column-gap: 0px;
        row-gap: 0px;
    }
}

@media all and (max-width: 450px){
    #memberForm{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .progBtnContainer{
        text-align: center !important;
    }

    #addProgress, #updateProgress, #deleteProgress {
        width: 100%;
    }
}